footer{
    padding: 80px 160px;
  >div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  button{
    margin-top: 28px;
    padding: 14px 26px;
    border: 2px solid #E6E8EC;
    color: #777E90;
    border-radius: 30px;
    background-color: #FCFCFD;
    cursor: pointer;
  }
}

.mobilfooter{

    display: none;
    >div{
      display: flex;
      justify-content: space-between;
      margin-left: 20px
    }
    p{
      line-height: 30px;
    }
    button{
    margin-top: 28px;
    padding: 14px 26px;
    border: 2px solid #E6E8EC;
    color: #777E90;
    border-radius: 30px;
    background-color: #FCFCFD;
    cursor: pointer;
    margin-left: 20px;
  }
}